*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
}

.page {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background: var(--primary-background-color);
}

/* Logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.colortext {
  color: var(--accent-color);
}
/* Site nav */
.list {
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav .link.current {
  color: var(--accent-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.auth-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Features */
.feature-list {
  list-style: none;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Work */
.work {
  list-style: none;
}
.work .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* User */
.user {
  list-style: none;
}
.user-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.user-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Button */
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.list {
  list-style: none;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.footer .address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
